<div class="projects">
  <div class="portifolio">
    <p>PORTIFÓLIO</p>
  </div>
  <h1 class="title">Projetos</h1>
  <p class="descricao">
    Projetos desenvolvidos com o objetivo de consolidar conhecimentos teóricos e adquirir
    experiência prática,<br>
    explorando desde a arquitetura de APIs até a criação de interfaces modernas e responsivas.
  </p>
  <img class="luz" src="/png/luz.png" alt="">
  <div class="projects-container">
    <div class="projects-view"></div>

    <div class="project-1"></div>
    <div class="project-2"></div>
    <div class="project-3"></div>
  </div>
</div>
