.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

  color: white;

  margin-top: 450px;
}

.portifolio {
  width: 130px;
  height: 18px;
  margin-top: 500px;
  margin-bottom: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  gap: 10px;

  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 53px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);


  & p {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 3px;
    text-indent: 5px;
    line-height: 16px;

  }
}
.portifolio:hover {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3px;

  margin-top: 0;
}

.descricao {
  font-size: 16px;
  font-weight: 500;

  line-height: 32px;
  letter-spacing: -0.5px;

  margin-top: 0px;

  transition: opacity 0.2s;
  opacity: 0.7;
}

.descricao:hover {
  opacity: 1;
}

.projects-container {
  position: relative;
}

.projects-view {
  width: 1140px;
  height: 640px;
  border-radius: 12px;

  margin-top: 41px;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.041) 0%,
    rgba(255, 255, 255, 0.041) 100%
  );

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.luz {
  position: absolute;
  width: 2278px;
  height: 2278px;
  filter: blur(80px);

  z-index: -1;

  top: 1031px;
  right: -400px;
}
