.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 45vh;

  color: #FFFF;

}

.local {
  width: 190px;
  height: 18px;
  margin-top: 208px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  gap: 10px;

  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 53px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);


  & p{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 5px;
    text-indent: 5px;
    line-height: 16px;

  }
}
.local:hover {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.stack {
  font-size: 72px;
  font-weight: 700;
  letter-spacing: -1px;
  margin-top: 20;
}

