@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

:root {
  --font-family-sans: 'Inter', sans-serif;
}
body {
  font-family: var(--font-family-sans);

  background-color: #02081a !important;

  padding: 0;
  margin: 0;

  height: auto;
  min-height: 100vh;
  max-width: 100%;

  overflow-x:clip;
  clip-path: inset(0);
  aspect-ratio: 16 / 9;
  contain: paint;
}

.content {
  position: relative;
  z-index: 1;
}

.bg-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 78%;
  z-index: -1;

  -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
   mask-image: linear-gradient(to bottom, black 70%, transparent 100%);

  background: url("/efects/image.png") no-repeat center center;
  background-size: cover;

  will-change: transform;

  animation: moveBackground 15s ease-in-out infinite;
  overflow: hidden;
  opacity: 0.8;
}

@keyframes moveBackground {
  0%, 100% {
    transform: scale(1.4) translate(0, 0);
  }
  33% {
    transform: scale(1.5) translate(-2%, 3%);
  }
}
@media (max-width: 768px) {
  .bg-animation {
    animation-duration: 20s;
  }

  @keyframes moveBackground {
    0%, 100% { transform: scale(1.2) translate(0, 0); }
    50% { transform: scale(1.3) translate(-1%, 1%); }
  }
}
